@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PressStart2P;
  src: url("./assets/fonts/PressStart2P-Regular.ttf");
}

@font-face {
  font-family: ShareTech;
  src: url("./assets/fonts/ShareTech-Regular.ttf");
}

canvas {
  height: 100%;
  left: 0;
  outline: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;    
}

html {
  background: #1d1d1d;
  font-family:ShareTech;
  min-width: 320px;
}	

html,
body
{
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

