@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PressStart2P;
  src: url("./assets/fonts/PressStart2P-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: ShareTech;
  src: url("./assets/fonts/ShareTech-Regular.ttf");
}

html {
  background: #1d1d1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}