@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PressStart2P;
  src: url("./assets/fonts/PressStart2P-Regular.ttf");
}

@font-face {
  font-family: ShareTech;
  src: url("./assets/fonts/ShareTech-Regular.ttf");
}

canvas {
  z-index: 1;
}

canvas,
#app {
  height: 100%;
  left: 0;
  outline: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  width: 100%;
}

html {
  background: #1d1d1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}